name: Construct Import Library

on:
  pull_request:
    branches:
      - main

permissions:
  contents: write

jobs:
  construct-import-lib:
    runs-on: ubuntu-latest
    if: github.actor != 'github-actions[bot]'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - run: python make_release.py
      - run:  |
          if git status --porcelain | grep .; then
            git config user.name "github-actions"
            git config user.email "github-actions@github.com"
            git add .
            git commit -m "Auto-update generated files"
            git push
          else
            echo "No changes to commit"
          fi