name: count lines of code

on: pull_request

jobs:
  count-lines:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: sudo apt install cloc
      - run: cloc src tests include/CommonInclude.hpp include/Material.hpp include/Mesh.hpp include/MtlParser.hpp include/ObjParser.hpp include/ObjParserError.hpp