name: count lines of code

on: 
  pull_request:
    branches:
      - main

jobs:
  count-lines:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - id: last
        run: echo "name=$(git log -1 --pretty=%an)" >> "$GITHUB_OUTPUT"

      - run: sudo apt install cloc
        if: steps.last.outputs.name == 'github-actions[bot]'

      - run: cloc src tests include/CommonInclude.hpp include/Material.hpp include/Mesh.hpp include/MtlParser.hpp include/ObjParser.hpp include/ObjParserError.hpp
        if: steps.last.outputs.name == 'github-actions[bot]'
      
      - run: cloc .
        if: steps.last.outputs.name == 'github-actions[bot]'
      